body{
    font-size: 20px;
}
h1,p{
    text-align: center;
}
#errors{
    color: rgb(145, 4, 4);
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
}
form, .formData{
    width: 450px;
    border: 3px solid black;
    padding: 30px;
    margin: 50px auto;
}
label{
    width:250px;
    display: inline-block;
    font-size: 18px;
}
input{
    width: 100%;
    font-size: 18px;
    background-color: rgb(214, 216, 220);
    font-family:'Gill Sans', cursive;
    border: 1.5px solid #000; 
    padding: 2px;
    height: 40px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #241d43e0;
}
#formResult {
    font-size: 25px;  
 }